* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: white;
    color: #000000;
    font-family: pretendard;
}

.daylog {
    width: 700px;
    margin: 40px auto;
    padding: 30px;
    background: #d6dde6;
    border-radius: 16px;
}